@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proxima-nova/light/proximanova-light-webfont.eot');
  src: url('/fonts/proxima-nova/light/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/proxima-nova/light/proximanova-light-webfont.woff') format('woff'),
  url('/fonts/proxima-nova/light/proximanova-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proxima-nova/regular/proximanova-reg-webfont.eot');
  src: url('/fonts/proxima-nova/regular/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/proxima-nova/regular/proximanova-reg-webfont.woff') format('woff'),
  url('/fonts/proxima-nova/regular/proximanova-reg-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proxima-nova/semibold/proximanova-sbold-webfont.eot');
  src: url('/fonts/proxima-nova/semibold/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/proxima-nova/semibold/proximanova-sbold-webfont.woff') format('woff'),
  url('/fonts/proxima-nova/semibold/proximanova-sbold-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proxima-nova/bold/Proxima_Nova_Bold.eot');
  src: url('/fonts/proxima-nova/bold/Proxima_Nova_Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/proxima-nova/bold/Proxima_Nova_Bold.woff') format('woff'),
  url('/fonts/proxima-nova/bold/Proxima_Nova_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
