.view--auth {

  .container {
    max-width: 360px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

    .logo, .subtitle {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }

  .subtitle {
    font-size: 1.8rem;
    margin-top: 0.4rem;
  }


}