.view--landing {

  .header-logo {
    @include logo;
  }

  .hero-body {
    .title {
      font-size: 4rem;
      margin-bottom: 3rem;
    }

    .subtitle {
      margin-bottom: 2.5rem;
    }
  }
}